# Copyright (c) CloudBees, Inc.

# Secret password for admin_cbci_a that belongs to the CI_Admins group (refer to .docker/ldap/data.ldif)
secJenkinsPass: "admin_pass" # Required. Do not update!

secGithubUser: "exampleUser" #Required for OC casc security.yaml
secGithubToken: "ExampleToken" #Required for OC casc security.yaml
# secLicenseCert: |
#   License certificate from CloudBees
# secLicenseKey: |
#   License key from CloudBees
