# Copyright (c) CloudBees, Inc.

# Secret pass for admin_cbci_a belongs to CI_Admins group (see .docker/ldap/data.ldif)
secJenkinsPass: "admin_pass" # Required. Do not update!

secGithubUser: "exampleUser"
secGithubToken: "ExampleToken"
# secLicenseCert: |
#   License certificate from CloudBees
# secLicenseKey: |
#   License key from CloudBees
