domain_name = "example.domain.com" # Required. Domain name used by the CloudBees CI instance.

temp_license = { # Required. Temporary license details.
  first_name  = "Foo"
  last_name  = "Bar"
  email = "foo.bar@acme.com"
  company = "Acme Inc."
}

# tags = {  # Optional. Tags for the resources created. Default set to empty. Shared among all.
#   "cb-owner" : "professional-services"
#   "cb-user" : "crodriguezlopez"
#   "cb-environment" : "demo"
# }

# suffix = my-demo #Optional
