hosted_zone = "acme.domain.com" # Required. Route 53 Hosted Zone to host CloudBees CI subdomains records. Replace Default values by your own.

trial_license = { # Required. CloudBees CI Trial license details for evaluation. Replace Default values by your own.
  first_name  = "Foo"
  last_name  = "Bar"
  email = "foo.bar@acme.com"
  company = "Acme Inc."
}

dh_reg_secret_auth = { # Required.
  username = "foo"
  password = "d0ckerPass12"
  email    = "foo.bar@acme.com"
}

# tags = {  # Optional. Tags for the resources created. Default set to empty. Shared among all.
#   "cb-owner" : "team-services"
#   "cb-user" : "demo-user"
#   "cb-purpose" : "demo-env"
# }

# suffix = my-demo #Optional

# aws_region = "us-west-2" #Optional
